/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;

}

.nav-gamer {
    display: flex;
    align-items: center;
    gap: 10px;
}

#gamer {
    justify-content: center;

}

.nav-image {
    width: 60px;
    height: 30px;
}

nav ul {
    display: flex;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-youtube-insta-box {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    position: relative;
    bottom: 12px;
}

.gamer-g {
    color: rgba(255, 66, 165, 1);
}

.gamer {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

nav ul>li {
    display: flex;
    margin-left: 20px;
}

/* banner */
.banner {
    display: flex;
    background: #FFF;
    justify-content: space-between;
    gap: 200px;
    background: #FFF;
}

.banner-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5.93rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.youtube{
    padding-left: 16px;
    padding-right: 16px;
}
.banner-content {
    background-image: url("../images/Group\ 14.png");
    padding: 50px 70px;

}

.banner-image {
    width: 100%;
}

.btn-container {
    display: flex;
    gap: 20px;
}

.btn-primary {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 0;
}

.btn-secondary {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 0;
    margin-left: 10px;
}

.banner-content ul {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.icon-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}
.we-are-gamer-container {
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.we-are-gamer-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    padding-right: 20px;
}

.we-are-gamer-description {
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    padding-left: 200px;
}

.btn-primary1 {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 70px;
    padding: 20px 40px;
    border: 0;
}

.we-are-gamer-description1 {
    color: #534C64;
    text-align: right;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 120px;

}

.we-are-gamer-description2 {
    color: #534C64;
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 45px;
}

.we-are-gamer-content {
    padding-left: 100px;
    padding-right: 50px;
}

.we-are-gamer-image {
    width: 160%;
    padding-right: 100px;
    padding-left: 100px;
}

.online-games-image-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left: 100px;
    padding-right: 100px;
}

.online-image {
    width: 240px;
}

.online-games-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.online-games-title1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 120px;
}

.online-games-description {
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 20px;
}

.online-description {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
}

.play-instantly-container {
    display: flex;
}

.play-image {
    width: 85%;
}

.play-instantly-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.play-instantly-title1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.play-instantly-description {
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    padding-left: 200px;
    padding-right: 200px;
}

.talking-image {
    border-radius: 8px;
    border: 1px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
    width: 200px;
    position: relative;
    right: 100px;
    bottom: 160px;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9 {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;


}

.image1 {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    gap: 10px;
    margin-bottom: 10px;
    border: 0;
}

.image2 {
    display: flex;
    padding-left: 170px;
    padding-right: 100px;
    gap: 10px;
    border: 0;
    margin-bottom: 50px;
}

.special-section {
    background-color: antiquewhite;
    padding-top: 50px;
    padding-bottom: 50px;
}

.image-button-container button {
    border-style: none;
    background: none;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover,
.img7:hover,
.img8:hover,
.img9:hover {
    border: 2px solid orangered;
    border-radius: 50px;
    background: #FFF;
    color: #F948B2;

}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;

}

footer {
    background: #0B0223;
}

.gamer1 {
    color: #FFF;
    font-size: 2.8rem;
    font-weight: 700;
}

footer ul>li {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

.footer-img {
    width: 40px;
    height: 40px;
}

.copy-right p{
    color: white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 130px;
}
@media screen and (max-width:576px){

}